@"
# Android
*.iml
.gradle/
local.properties
/.idea/
.DS_Store
/build
/captures/
.externalNativeBuild
.cxx
output.json

# Android Studio
.idea/
*.ipr
*.iws
*.bak
*.swp
*~.nib
*.tmp

# Gradle
build/
*/build/
.gradle/

# Log & cache
*.log
.cache/
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Others
*.apk
*.aab
*.dex
*.class
*.jar
*.war
*.ear
*.hprof

# Generated
app/release/
app/debug/
app/intermediates/
app/outputs/
"@ | Out-File -Encoding utf8 .gitignore
